.w1 {
  width: 1px;
  white-space: nowrap
}

.ngn {
  padding: 14px 40px;
}

.box-header > .box-tools {
  position: relative;
  right: 0;
  top: 0;
}

.help-block {
  font-size: 12px;
  margin-top: 0px !important;
}

.page-filter, .information {
  margin-bottom: 0;
  box-shadow: none;
  border-radius: 0;
}

.uploads-btn {
  margin-right: 10px;
}

.upload-name {
  word-wrap:break-word;
}

.table-responsive {
  border: none !important;
  margin-top: 15px;
}
